.cart{
  background-color: rgb(244, 244, 244);
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 2rem;
  padding-top: 3%;
  padding-bottom: 2%;
}

.collectingFrom {
  background-color: white;
  width: 94%;
  height: 17vh;
  margin-left: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.collectingFrom button{
  border: 2px solid rgb(114, 2, 114);
  color: rgb(114, 2, 114);
  border-radius: 3px;
  padding: 0.5% 2%;
  font-weight: 700;
}

.pageTopAlert {
  width: 94%;
  height: 10vh;
  margin-left: 3%;
  background-color: rgb(250, 237, 202);
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartCheckoutBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2% 3%;
}

.cartContainer {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
}

.cartItems {
  width: 100%;
}

.cartBoxRight {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.orderSummary {
  background-color: white;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.emptyTrolley{
  width: 100%;
  height: 8vh;
  padding: 3%;
  font-weight: 700;
  color: rgb(114, 2, 114);
}