.cart {
  background-color: rgb(244, 244, 244);
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 2rem;
  padding-top: 3%;
  padding-bottom: 2%;
}

.collectingFrom {
  background-color: white;
  width: 94%;
  height: 17vh;
  margin-left: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.collectingFrom button {
  border: 2px solid #571060;
  color: #571060;
  border-radius: 3px;
  padding: 0.5% 2%;
  font-weight: 700;
}

.pageTopAlert {
  width: 94%;
  height: 10vh;
  margin-left: 3%;
  background-color: rgb(250, 237, 202);
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartCheckoutBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2% 3%;
}

.cartContainer {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.cartItems {
  width: 100%;
}

.cartBoxRight {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.orderSummary {
  background-color: white;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 4%;

}

.orderSummary h2 {
  font-weight: 800;
  font-size: 1.2rem;
}

.orderSummaryTop {
  height: 55%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.promoCode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promoCode input {
  width: 75%;
  border: 1px solid #571060;
  padding: 2%;
  border-radius: 3px;
}

.promoCode button {
  width: 20%;
  border: 2px solid #571060;
  color: #571060;
  font-weight: 700;
  font-size: 13px;
  padding: 2%;
  border-radius: 3px;
}

.orderPriceBreakdown {
  display: flex;
  justify-content: space-between;
  height: 60%;
  border-bottom: 1px solid lightgray;
}

.orderPriceBreakdown p {
  display: flex;
  align-items: center;
}
.orderPriceBreakdown h3 {
  font-weight: 700;
}

.priceBreakdownLeft{
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.priceBreakdownRight{
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.orderSummaryBottom {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4%;
  padding-top: 5%;
}

.orderSummaryBottom p {
  color: gray;
}

.estimatedTotal{
  display: flex;
  justify-content: space-between;
}

.checkoutBtn{
  width: 100%;
  height: 25%;
  background-color: #571060;
  color: white;
  font-weight: 800;
  font-size: 14px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listBtn{
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #571060;
  font-weight: 700;
  font-size: 12px;
}

.emptyTrolley {
  width: 100%;
  height: 8vh;
  padding: 3%;
  margin-top: 3%;
  font-weight: 700;
  color: #571060;
}

.disclaimer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4% 3%;
  margin-top: 3%;
  background-color: rgb(207, 232, 255);
  font-size: 15px;
  color: rgb(1, 65, 129);
  gap: 2%;
}
