.header {
  background-color: rgb(176, 250, 250);
  height: 30vh;
}

.headerTop {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.headerTop h1 {
  font-size: 1.5rem;
}

.headerBottom {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cartIcon {
  display: flex;
}