.itemCard {
  width: 17vw;
  height: 50vh;
  background-color: white;
  padding: 1% 1% 4% 1%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.itemCardNIC {
  width: 17vw;
  height: 50vh;
  background-color: white;
  padding: 1% 1% 1% 1%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.cartAdd h2 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 40%;
}


@media screen and (min-width: 450px) and (max-width: 700px) {
  .itemCard {
    width: 40vw;
  }
}

@media screen and (max-width: 450px) {
  .itemCard {
    width: 80vw;
  }
}

.cartAdd {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
  width: 100%;
  /* padding-bottom: 5%; */
}

.cartAdd button {
  border: 2px solid rgb(77, 0, 77);
  border-radius: 3px;
  padding: 1% 20%;
  color: white;
  background-color: rgb(77, 0, 77);
  cursor: pointer;
  width: 60%;
}
