.itemCard {
  width: 20vw;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

@media screen and (min-width: 450px ) and (max-width: 700px) {
  .itemCard {
    width: 40vw;
  }
  
}

@media screen and (max-width: 450px) {
  .itemCard {
    width: 80vw;
  }
  
}

.cartAdd {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.cartAdd button {
  background-color: rgb(176, 250, 250);
  color: #111;
  padding: 0 10px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
