.results {
  width: 100%;
}

.resultsHead {
  font-size: 2rem;
  font-weight: 800;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayArea {
  background-color: rgb(244, 244, 244);
  width: 100%;
  padding: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
}
