.input {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input Button {
    background-color: #f3f3f3;
    padding: 1.5% 1%;
    border-radius: 0 5px 5px 0;
}

.inputBox {
    width: 60%;
    background-color: #f3f3f3;
    padding: 1.5% 1%;
    border-radius: 5px 0 0 5px;
}

@media screen and (max-width: 450px) {
    .input {
        width: 60%;
    }
    
}